<header class="navbar navbar-expand navbar-light flex-column flex-md-row bd-navbar" style="background-color: #e3f2fd;">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="COMET">
        <img src="https://cdn.svgporn.com/logos/consul.svg" width="30" height="30" alt="COMET">
    </a>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link active" href='/'">Notices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#"">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#"">Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#"">Quiz</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    </ul>

    <a class="btn btn btn-outline-secondary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3"
       href="/">Logout</a>
</header>